@model FederationGateway.Models.WsFedSignInResponseModel

<form method="post" name="hiddenform" action="@Model.Action">
    <input type="hidden" name="wa" value="wsignin1.0" />
    <input type="hidden" name="wresult" value="@Model.WResult" />
    <input type="hidden" name="wctx" value="@Model.Wctx" />

    <noscript><p>Script is disabled. Click Submit to continue.</p><input type="submit" value="Submit" /></noscript>
</form>

<script language="javascript">window.setTimeout('document.forms[0].submit()', 0);</script>


